:root {
    /* buttons */
    --btn-primary: #5E81AC;
    --btn-primary-lt: #6f97c9;
    --btn-secondary: #3B4252;

    --darkb: #3B4252;
    --darkm: #434C5E;
    --darkl: #4C566A;
    --white: #fff;

    /* light */
    --lightb: #D8DEE9;
    --lightm: #E5E9F0;
    --lightl: #ECEFF4;

    --box-shadow: 0px 8px 32px #1e191908,0px 8px 16px #1e191908,0px 4px 8px #1e191908,0px 2px 4px #1e191908,0px 1px 2px #1e191908;
    --border2: #dfdcd8;
    --border-faint: #a6917133; 
    --dot-border: #a69e9299;
    --border-subtle: #dfdcd8;
    --border-bold: #8c8279;

    --text-lt: #736c64;
    --text-base: #1a1918;

    --action-bar-width: 236px;
}

/* Breadcrumb  */

.breadcrumb {
    padding: 16px 16px 0 32px;
    height: 40px;
    width: 100%;
    font-weight: 600;
    overflow: hidden;
}

.breadcrumb_item {
    height: 26px;
    display: inline-block;
}

.breadcrumb_item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    color: var(--darkl);
}

.breadcrumb_link {
    text-decoration: none;
    color: var(--darkb);
}

.breadcrumb_link:hover {
    text-decoration: underline;
}

.home-content {
    width: 100%;
}
/* Nav toolbar */
.nav_toolbar {
    position: relative;
    display: flex;
    height: 64px;
    padding: 16px 0 16px 32px;
    margin-top: -1px;
    top: -1px;
    width: 50%;
    z-index: 3;
}

.action_toolbar {
    display: flex;
    width: 100%;
    margin: -3px;
    padding: 3px;
}

.btn {
    height: 32px;
    width: 120px;
    margin-right: 32px;
    cursor: pointer;
    color: #eee;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--darkl);
    background: var(--btn-primary);
}

.btn:hover {
    background: var(--btn-primary-lt);
}

.sub-menu {
    position: absolute;
    width: var(--action-bar-width);
    min-width: 90px;
    max-height: 500px;
    margin-top: 4px;
    padding: 8px 0;
    list-style: none;
    border: 1px solid var(--lightb);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    outline: 1px solid var(--border-subtle);
    overflow-y: auto;
    z-index: 2;
}

.sub-menu .menu-item {
    margin: 0;
    padding: 8px 0;
    background-color: var(--white);
} 

.sub-menu .menu-item:nth-child(2) {
    border-top: 1px solid var(--border-subtle);
}

.sub-menu .menu-item li a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    outline: none;
    min-height: 32px;
    color: var(--text-base);
    cursor: pointer;
}

.sub-menu .menu-item li a .icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 16px;
    margin-right: 8px;
    min-width: 24px;
    padding-right: 4px;
}

.sub-menu .menu-item li a .title {
    margin-left: 0;
    margin-right: 8px;
    padding: 5px 0 5px 0;
    overflow: auto;
    font-size: 16px;
    font-weight: 500;
}

.sub-menu .menu-item li a:hover {
    background-color: var(--lightb);
}

.hidden {
    display: none;
}

.btn-icon {
    position: relative;
    height: 32px;
    line-height: 32px;
    width: 32px;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    background: #0000;
}

/* Drop Upload  */

.drop-upload {
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.drop-zone {
    position: absolute;
    display: flex;
    align-items: center;
    border: 2px solid var(--dot-border);
    border-style: dotted;
    box-sizing: border-box;
    margin: 0 32px 0 32px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.drop-zone-highlight{
    border: 2px solid #4a44ea;
    border-style: dotted;
}

.drop-text {
    position: relative;
    margin: auto;
}

.drop-text svg {
    display: inline-block;
    vertical-align: middle;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-lt);
}

/* Table Content */

.selectable-list {
    padding-top: 30px;
} 

.selectable-list .table-sortable {
    position: relative;
    padding-bottom: 80px;
    font-size: 14px;
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
    overflow: hidden;
}

.selectable-list .table-sortable thead tr {
    text-align: left;
} 

.selectable-list .table-sortable th,
.selectable-list .table-sortable td {
    min-height: 39px;
    max-width: 450px;
    padding: 12px 15px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid var(--border-faint);
}

.selectable-list .table-sortable th:first-child,
.selectable-list .table-sortable td:first-child {
    min-height: 39px;
    max-width: 85px;
}

.selectable-list .table-sortable th:last-child,
.selectable-list .table-sortable td:last-child {
    min-height: 39px;
    max-width: 85px;
}
.selectable-list .table-sortable th:nth-child(2),
.selectable-list .table-sortable td:nth-child(2) {
    min-height: 39px;
    max-width: 39px;
    place-items: center;
    color: var(--darkm);
}

.selectable-list .table-sortable th:hover:not(:first-child, :nth-child(2), :last-child) {
    border-left: 2px solid var(--border-faint);
    border-right: 2px solid var(--border-faint);
}

.table-sortable tbody tr:hover,
.table-sortable tbody .row {
    background-color: var(--lightb);
}

.table-sortable thead tr th i {
    color: var(--darkb);
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

/* Menu Content */

.menu-content {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 500px;
    min-width: 90px;
    width: var(--action-bar-width);
    background-color: var(--white);
    outline: 1px solid var(--border-subtle);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 3;
}

.menu-content .menu-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-height: inherit;
}

.menu-container .menu-heading {
    width: var(--action-bar-width);
    margin: 0;
    padding: 8px 0;
    background-color: var(--white);
}

.menu-container .menu-heading .menu-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    min-height: 32px;
    color: var(--text-base);
    margin-right: 8px;
    margin-left: 8px;
    padding: 5px 0 8px 5px;
    overflow: auto;
}

.menu-container .menu-heading .menu-item .title-name {
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 16px;
    font-weight: 600;
}

.menu-container .menu-body {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    width: var(--action-bar-width);
    background-color: var(--white);
    margin: 0;
    padding: 0 !important;
    border-top: 1px solid var(--border-subtle);
}

.menu-container .menu-body .menu-item {
    border-top: 1px solid var(--border-subtle);
    margin: 0;
    padding: 8px 0;
    background-color: var(--white);
}

.menu-container .menu-body .menu-item .menu-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    min-height: 32px;
    color: var(--text-base);
    cursor: pointer;
}

.menu-container .menu-body .menu-item .menu-row:hover {
    background-color: var(--lightb);
}

.menu-container .menu-body .menu-item .menu-row .icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 16px;
    margin-right: 8px;
    min-width: 24px;
}

.menu-container .menu-body .menu-item .menu-row .title {
    margin-left: 0;
    margin-right: 8px;
    padding: 5px 0 5px 0;
    overflow: auto;
    font-size: 16px;
    font-weight: 500;
}

/* Drawer-container  */
.drawer-container {
    position: fixed;
    right: 250px;
    bottom: 0;
    width: 440px;
    box-shadow: var(--box-shadow);
    background-color: var(--lightl);
}

/* Header drawer  */
.drawer-container .drawer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 0 -1px;
    padding: 0 16px;
    cursor: pointer;
    box-sizing: content-box;
    border: 1px solid var(--border-bold);
    background-color: var(--lightb);
}

.drawer-container .drawer-header .drawer-title {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--text-base);
}

.drawer-container .drawer-header .drawer-btn {
    margin-left: 4px;
}

.drawer-container .drawer-header .drawer-btn:hover {
    background-color: var(--lightl);
}

.drawer-container .drawer-header .drawer-btn .drawer-btn-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 0;
}

.drawer-container .drawer-body-footer {
    display: flex;
    flex-direction: column;
    height: 380px;
    max-height: calc(100vh - 138px);
    min-height: 158px;
}

/* Body drawer  */
.drawer-container .drawer-body-footer .drawer-body {
    flex-grow: 1;
    overflow-y: scroll;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items {
    position: relative;
    width: 100%;
    min-height: 54px;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    transform: translateY(0px);
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-progress {
    position: relative;
    height: 4px;
    padding: 0;
    background-color: #d8d3cb;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-progress .progress-uploading {
    width: 0%;
    height: 100%;
    background: var(--btn-primary);
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-file-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    padding: 0 16px;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-file-row .file-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    padding: 0 8px 0 24px;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-file-row .file-content .file-row-name {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-file-row .file-content .file-row-name .file-name {
    color: var(--text-base);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-file-row .file-content .file-row-name .file-mess {
    color: var(--text-lt);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
}

.drawer-container .drawer-body-footer .drawer-body .drawer-items .item-uploading .upload-file-row .row-btn-cancel:hover {
    background-color: var(--lightb);
}
/* Footer drawer */
.drawer-container .drawer-body-footer .drawer-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding: 0 16px;
    border-top: 1px solid var(--border-subtle);
}

.drawer-container .drawer-body-footer .drawer-footer .upload-more {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 14px;
    padding: 0 12px;
    width: 120px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: var(--white);
    background-color: var(--btn-primary);
    border: 1px solid var(--darkl);
}

.drawer-container .drawer-body-footer .drawer-footer .upload-more:hover {
    background-color: var(--btn-primary-lt);
}

/* Folder */

.after-open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .502);
    z-index: 100;
    overflow: hidden;
    opacity: 1;
}

.after-open .folder {
    position: absolute;
    left: 30%;
    margin: calc(8px + 10vh) 0;
    max-height: 100%;
    min-height: 180px;
    max-width: 100%;
    min-width: 600px;
    outline: none;
}

.after-open .folder .folder-content {
    background-color: var(--lightl);
    box-shadow: var(--box-shadow);
    outline: none;
    width: 100%;
}

.after-open .folder .folder-content .header-create {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-faint);
}

.after-open .folder .folder-content .header-create h2 {
    margin: 0 12px;
    color: var(--text-base);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.after-open .folder .folder-content .body-create {
    padding-top: 16px;
    padding-right: calc(8px * 3);
    padding-bottom: 16px;
    padding-left: calc(8px * 3);
    color: var(--text-base);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    outline: none;
}

.after-open .folder .folder-content .body-create .folder-name-input {
    margin-bottom: 15px;
}

.after-open .folder .folder-content .body-create .folder-name-input .folder_name {
    display: flex;
    align-items: center;
    height: 20px;
    color: var(--text-base);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: calc(8px / 2);
    cursor: default;
}

.after-open .folder .folder-content .body-create .folder-name-input .name_input {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-base);
    border: 1px solid var(--border-bold);
}

.after-open .folder .folder-content .body-create .folder-name-input .name_input:hover {
    border-color: #1a1918;
}

.after-open .folder .folder-content .body-create .folder-name-input .name_input .folder_input {
    width: 100%;
    height: 22px;
    border: none;
    outline: none;
    margin-left: 0;
    padding: 4px 8px;
    background-color: var(--lightl);
}

.after-open .folder .folder-content .footer-create {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: calc(8px * 3);
}

.after-open .folder .folder-content .footer-create .btn-standard {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 14px;
    padding: 0 12px;
    width: 70px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: var(--text-base);
    background-color: var(--lightb);
    border: 1px solid var(--border-bold);
}

.after-open .folder .folder-content .footer-create #btn-create[disabled] {
    background-color: gray;
    color: var(--white);
    cursor: default;
}

.after-open .folder .folder-content .footer-create .btn-standard:nth-child(2) {
    background-color: var(--btn-primary);
    color: #eee;
}

.after-open .folder .folder-content .footer-create .btn-standard:hover {
    border-color: #1a1918;
    background-color: var(--lightm);
}

.after-open .folder .folder-content .footer-create .btn-standard:nth-child(2):hover {
    background-color: var(--btn-primary-lt);
}

.after-open .folder .folder-content .footer-create .btn-standard .button-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.after-open .folder .icon-cancel {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    background: #0000;
}

.after-open .folder .icon-cancel:hover {
    background-color: var(--lightb);
}