@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root
{
    /* dark */
    --darkb: #3B4252;
    --darkm: #434C5E;
    --darkl: #4C566A;
    /* light */
    --lightb: #D8DEE9;
    --lightm: #E5E9F0;
    --lightl: #ECEFF4;

    /* text */
    --text: #2E3440;
    --color-text: #1e1919;
    /* border */
    --border: #dfdcd8;
    --border-faint: #a6917133;
    /* basic  */
    --white: #fff;
    --black1: #222;
    --black2: #999;
    
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Nav */

.nav {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--lightb);
    border-bottom: 1px solid var(--border);
    overflow: hidden;
}

.nav a {
    position: relative;
    display: block;
    width: 60px;
    display: flex;
    text-decoration: none;
}

.nav a i {
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: end;
    font-size: 2em;
}

.nav a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: var(--black1);
}

.nav .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.nav .search label {
    position: relative;
    width: 100%;
}

.nav .search label input {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--black2);
}

.nav .search label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.nav .profile-details {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.nav .profile-details img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sidebar */

.sidebar {
    position: fixed;
    width: 240px;
    height: calc(100% - 50px);
    display: flex;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border);
    background-color: var(--lightm);
    overflow: hidden;
}

.sidebar ul {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sidebar ul li {
    position: relative;
    width: 200%;
    list-style: none;
}

.sidebar ul li:hover {
    background: var(--lightb);
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;  
}

.sidebar ul li a .link_name {
    position: relative;
    display: block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    color: var(--black1);
}

.cloud-space {
    position: relative;
    padding: 24px 0 32px 32px;
    border-top: 1px solid var(--border-faint);
}

.cloud-space .link_name {
    position: relative;
    display: block;
    text-align: start;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--black1);
}

.cloud-space .loader {
    width: 80%;
    height: 5px;
    margin-bottom: 8px;
    background-color: rgb(116, 46, 206);
	color: rgb(255, 255, 255);
}

/* main */

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    min-height: 100vh;
    left: 240px;
    top: 50px;
    background: var(--lightl);
}