@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root
{
    /* dark */
    --darkb: #3B4252;
    --darkm: #434C5E;
    --darkl: #4C566A;
    /* light */
    --lightb: #D8DEE9;
    --lightm: #E5E9F0;
    --lightl: #ECEFF4;

    /* text */
    --text: #2E3440;
    --color-text: #1e1919;
    /* border */
    --border: #dfdcd8;
    --border-faint: #a6917133;
    --border-subtle: #dfdcd8;
    /* basic  */
    --white: #fff;
    --black1: #222;
    --black2: #999;
    --btn-primary: #5E81AC;

    --box-shadow: 0px 8px 32px #1e191908,0px 8px 16px #1e191908,0px 4px 8px #1e191908,0px 2px 4px #1e191908,0px 1px 2px #1e191908;;
    
}

body {
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Nav */

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background: var(--lightb);
    border-bottom: 1px solid var(--border);
}

.nav .logo-title {
    position: relative;
    display: block;
    width: 160px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav .logo-title i {
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: end;
    font-size: 2em;
    font-weight: 500;
    color: var(--btn-primary);
}

.nav .logo-title .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: var(--black1);
}

.nav .utilities {
    display: flex;
    align-items: center;
    flex: 1;
}

.nav .utilities .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    margin: 0 8px;
}

.nav .utilities .search .search-centered {
    position: relative;
    width: 600px;
    height: 100%;
}

.nav .utilities .search .search-centered label {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #1a1918;
    border: 1px solid #8c8279;
}

.nav .utilities .search .search-centered label:hover {
    border-color: #1a1918;
}

.nav .utilities .search .search-centered label span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 32px;
    padding: 4px 4px;
}

.nav .utilities .search .search-centered label input {
    border: 0;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    outline: none;
    background: #0000;
}

.nav .utilities .user-panel {
    display: flex;
    justify-content: flex-end;
    width: 260px;
    height: 32px;
    padding-right: 15px;
    margin-left: 0;
}

.nav .utilities .user-panel .utility-item {
    margin-left: 4px;
}

.nav .utilities .user-panel .utility-item .util-btn {
    position: relative;
    height: 32px;
    line-height: 32px;
    width: 32px;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    background: #0000;
}

.nav .utilities .user-panel .utility-item .util-btn .button-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 0;
    cursor: pointer;
}

.nav .utilities .user-panel .utility-item .util-btn .button-content .avatar {
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    margin: 2px;
    box-shadow: inset 0 0 0 1px rgba(155, 100, 0 102);
    cursor: pointer;
}

.nav .utilities .user-panel .utility-item .util-btn .button-content .avatar img {
    height: auto;
    width: 100%;
}

.nav .utilities .user-panel .utility-item .util-btn:hover {
    background-color: var(--lightl);
}

.nav .utilities .user-panel .utility-item .prof-Menu {
    position: absolute;
    top: 100%;
    right: 25px;
    width: 250px;
    min-width: 90px;
    min-height: 220px;
    max-height: 500px;
    overflow-y: auto;
    margin-top: -3px;
    opacity: 1;
    z-index: 10;
    border: 1px solid var(--lightb);
    outline: 1px solid var(--border-subtle);
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.nav .utilities .user-panel .utility-item .prof-Menu .menu-head-item {
    width: 100%;
    margin: 0;
    padding: 8px 0;
}

.nav .utilities .user-panel .utility-item .prof-Menu .menu-head-item .user-summary {
    display: flex;
    flex-direction: column;
    margin-top: calc(0.75* 8px);
    margin-left: calc(2 * 8px);
    margin-right: calc(2 * 8px);
}

.nav .utilities .user-panel .utility-item .prof-Menu .menu-head-item .user-summary .info {
    display: flex;
    margin-bottom: calc(0.75 * 8px);
}

.user-summary .photo-btn {
    line-height: 22px;
    margin-right: 8px !important;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    padding: 0 4px;
    text-decoration: none;
    background-color: #fff;
}

.user-summary .upgrade {
    margin-top: 8px;
}

.user-summary .upgrade .text {
    color: var(--text);
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
}

.user-summary .upgrade .upgrade-btn {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid var(--border-faint);
    cursor: pointer;
}

.user-summary .upgrade .upgrade-btn .upgrade-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
}

.user-summary .photo-btn .button-content {
    cursor: pointer;
    line-height: 22px;
    text-align: center;
}

.user-summary .photo-btn .button-content .avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--box-shadow);
    border: none;
    margin: 2px;
    outline: 0;
    overflow: hidden;
    vertical-align: middle;
}

.user-summary .photo-btn .button-content .avatar img {
    height: auto;
    width: 100%;
}

.user-name {
    width: calc(100% - 42px);
    display: flex;
    flex-direction: column;
}

.user-name .user_name {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 0;
}

.user-name .user-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-name .user-email .user_email {
    color: var(--color-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
}

.utility-item .prof-Menu .menu-item-body {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-subtle);
    width: 100%;
    margin: 0;
    padding: 8px 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.utility-item .prof-Menu .menu-item-body .link-menu-drop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-text);
}

.utility-item .prof-Menu .menu-item-body .link-menu-drop:hover {
    background-color: var(--lightb);
}

.utility-item .prof-Menu .menu-item-body .link-menu-drop .menu-item-content {
    position: relative;
    margin-right: calc(8px * 2);
    margin-left: 8px;
    overflow: auto;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
}

.utility-item .prof-Menu .menu-item-body .link-menu-drop .menu-item-content .menu-item-title {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}


/* Sidebar */

.sidebar {
    position: fixed;
    width: 240px;
    height: calc(100% - 50px);
    display: flex;
    top: 50px;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border);
    background-color: var(--lightm);
    overflow: hidden;
}

.sidebar ul {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sidebar ul li {
    position: relative;
    width: 200%;
    list-style: none;
}

.sidebar ul li:hover {
    background: var(--lightb);
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;  
}

.sidebar ul li a .link_name {
    position: relative;
    display: block;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    color: var(--black1);
}

.cloud-space {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 32px 0;
    border-top: 1px solid var(--border-faint);
}

.cloud-space .space-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    width: 176px;
}

.cloud-space .space-content .link_name {
    
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text);
}

.cloud-space .space-content .storage-progress {
    height: 6px;
    width: 100%;
    background: #d8d3cb;
}

.cloud-space .space-content .storage-progress .progress-space {
    width: 0%;
    height: 100%;
    background: var(--btn-primary);
}

.cloud-space .space-content .storage-space {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cloud-space .space-content .storage-space .storage {
    line-height: 16px;
    color: var(--text);
    font-weight: 400;
    font-size: 12px;
}

.cloud-space .space-content .storage-space a {
    position: relative;
    height: 32px;
    line-height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
}

.cloud-space .space-content .storage-space a i {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 32px;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--text);
}

.cloud-space .space-content .storage-space a:hover {
    background-color: var(--lightb);
}

/* main */

.container .main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px - 240px);
    min-height: 100vh;
    top: 50px;
    left: 240px;
    background: var(--lightl);
    z-index: 1;
}

/* file-details-panel */

.container .file-details-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    width: 240px;
    height: calc(100% - 50px);
    border-left: 1px solid var(--border);
    background-color: var(--lightm);
}

.file-details-panel .title-container {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 12px;
    min-height: 56px;
    justify-content: space-between;
}

.title-container .file-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: var(--black1);
}

.file-details-panel .body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.body-container .info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.body-container .info .info-header {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border);
    cursor: default;
}

.body-container .info .info-header .left-icon {
    color: var(--black1);
    display: flex;
    flex-shrink: 0;
    margin-right: 8px;
}

.body-container .info .info-header .right-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.body-container .info .info-header .right-title span {
    color: var(--black1);
    line-height: 18px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
}

.body-container .file-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px 16px;
    margin-bottom: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-container .file-detail .icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 168px;
}

.body-container .file-detail .icon-container a {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.body-container .file-detail .icon-container a img,
.body-container .file-detail .icon-container a i {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    filter: none;
    margin: auto;
    padding: 0;
    border: 1px solid var(--border);
}
.body-container .file-detail .icon-container a i {
    color: var(--darkm);
}

.body-container .file-detail .details {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.body-container .file-detail .details span {
    margin-bottom: 4px;
    color: var(--black1);
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}

.body-container .file-detail .details .properties {
    display: flex;
}

.body-container .file-detail .details .properties .title {
    display: flex;
    width: 92px;
    color: var(--black2);
}

.body-container .file-detail .details .properties .data {
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 24px;
    max-width: 100%;
    min-width: 0;
}

.file-details-panel .no-file-checked {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--border);
}

.file-details-panel .no-file-checked i {
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

.file-details-panel .no-file-checked .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--black1);
}

.file-details-panel .hidden {
    display: none;
}

.hidden {
    display: none;
}